<html>

<head>
    {% include('links.html') %}
    <title>search</title>
    <link rel="stylesheet" href="{{ url_for('search.static', filename='css/search.css') }}"/>

</head>

<body>
<div class="grid-container form-grid">
    <header id="header">
        <nav>
            {% include('nav.html') %}
        </nav>
    </header>

    <form action="search" method="POST" class="inner-form-grid">
        <h1 id="title">Product Search</h1>

        <div id="item1">

            <select data-trigger="" name="category">
                <option placeholder="" value="NONE">Category</option>
                <option value="Furniture">Furniture</option>
                <option value="Kitchenware">Kitchenware</option>
                <option value="Tools">Tools</option>
                <option value="Appliances">Appliances</option>
            </select>

        </div>

        <div id="item2">


            <div id="item3">
                <select data-trigger="" name="condition">
                    <option placeholder="" value="NONE">Condition</option>
                    <option  value="New">New</option>
                    <option value="Used">Used</option>
                </select>
            </div>

        </div>

        <input id="item5" type="submit" value="Submit" class="submitButton">
    </form>

    {% if items_list|length > 0 %}
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Condition</th>
            <th>Description</th>
            <th>Image</th>
            <th>Neighbourhood</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items_list %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.condition_status }}</td>
                <td>{{ item.description }}</td>
                <td><img style="max-width:100px;" src="static/media/uploads/{{ item.png_url }}"/></td>
                <td>{{ item.neighbourhood }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endif %}
</div>
</body>

</html>
