<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    {% include('links.html') %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .checked {
            color: orange;
        }
    </style>
</head>
<body>
<div class="grid-container form-grid">
    <header id="header">
        <nav>
            {% include('nav.html') %}
        </nav>
    </header>
        <h1 id="title">Profile:</h1>

        <div id="item1">
            <b><label for="Fullname">Full name:</label></b>
            <br>
            <b>{{ customer_profile.full_name }}</b>
        </div>

        <div id="item2">
            <b><label for="email">Email:</label></b>
            <br>
            {{ customer_profile.email }}
        </div>


        <div id="item3">
            <b><label for="neighborhood">Neighborhood:</label></b>
            <br/>
           {{ customer_profile.neighbourhood }}
        </div>

        <div id="item4">
            <h2>Rating:</h2>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <br>
        </div>

    <footer>
        <a href="{{ customer_profile.insta_url }}" target="_blank"><img src="../../../static/media/img/insta_icon.jpg" alt="insta_icon"
                                                                 class="animation"></a>
        <footer>
</body>

</html>
