<!DOCTYPE html>
<html lang="en">
<head>
    <title>login</title>
    {% include('links.html') %}
</head>


<body>
<div class="grid-container form-grid">
    <header id="header">
        <nav>
            {% include('nav.html') %}
        </nav>
    </header>

    <form action="login" method="POST" class="inner-form-grid">  <!--changeeeeeeeee-->
        <h1 id="title">Log In</h1>

        <div id="item1">

            <b><label for="email">Email:</label></b>
            <input type="email" id="email" name="email" required><br><br>

        </div>

        <div id="item2">

            <b><label for="password">Password:</label></b>
            <input type="password" id="password" name="password" required><br><br><br>
        </div>

        <div id="item3">
            New User?<br>
            <a href="Registration">Sign Up</a><br>

        </div>


        <input id="item4" type="submit" value="submit" class="submitButton">
    </form>


</div>
</body>


</html>
