<!DOCTYPE html>
<html lang="en">
<head>
    {% include('links.html') %}
    <title>Item Lending</title>
    <style></style>
</head>


<body>
<div class="grid-container form-grid">
    <header id="header">
        <nav>
            {% include('nav.html') %}
        </nav>
    </header>

    <h1 id="title">Edit Item</h1>
    <div class="container">

        <form action="editItem/{{ item.item_id }}" method="post"  class="inner-form-grid">
            <div class="item1">
                <label>Title:</label>
                <input type="text" value="{{ item.name }}"/>
            </div>
            <div class="item2">
                <label>Category:</label>
                <select name="category" id="item_category">
                    <option value="Furniture" {{ item }}>Furniture</option>
                    <option value="kitchenware">Kitchenware</option>
                    <option value="Tools">Tools</option>
                    <option value="Appliances">Appliances</option>
                </select>
            </div>
            <div class="item3">
                <label>Title:</label>
                <input type="text" value="{{ item.name }}"/>
            </div>
            <div class="item4">
                <label>Title:</label>
                <input type="text" value="{{ item.name }}"/>
            </div>

        </form>

    </div>



</div>
</body>

</html>
