<!DOCTYPE html>
<html lang="en">
<head>

    <title>payment</title>
    {% include('links.html') %}

</head>


<body>
<div class="grid-container form-grid">
    <header id="header">
        <nav>
            {% include('nav.html') %}
        </nav>
    </header>

    <form name="register" action="home.html" method="post" class="inner-form-grid" onsubmit="return checkNumbers();">
        <!--changeeeeeeeee-->
        <h1 id="title">Enter Your Card Details</h1>

        <div id="item1">
            <label for="Fullname">Full name:</label>
            <input type="text" id="Fullname" name="Fullname" placeholder="Enter your name" required>
        </div>

        <div id="item2">
            <label for="ccnumber">Credit Card Number:</label>
            <input type="text" id="ccnumber" name="ccnumber" placeholder="0000 0000 0000 0000" required>
            <br>
        </div>

        <div id="item3">
            <label for="ccmonth">Month:</label>
            <select class="form-control" id="ccmonth">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
            </select>
            <br>
        </div>

        <div id="item4">
            <label for="ccyear">Year:</label>
            <select class="form-control" id="ccyear">
                <option>2014</option>
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
                <option>2018</option>
                <option>2019</option>
                <option>2020</option>
                <option>2021</option>
                <option>2022</option>
                <option>2023</option>
                <option>2024</option>
                <option>2025</option>
            </select>
        </div>

        <div id="item5">
            <label for="cvv">CVV/CVC:</label>
            <input class="form-control" id="cvv" type="text" placeholder="123" required><br><br>
        </div>

        <div id="item6">
            <button class="btn btn-sm btn-success float-right" type="submit">
                <i class="mdi mdi-gamepad-circle"></i>Continue
            </button>
            <button class="btn btn-sm btn-danger" type="reset">
                <i class="mdi mdi-lock-reset"></i>Reset
            </button>
        </div>
    </form>


</div>
</body>

</html>