<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    {% include('links.html') %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .checked {
            color: orange;
        }
    </style>
</head>


<body>
<div class="grid-container form-grid">
    <header id="header">
        <nav>
            {% include('nav.html') %}
        </nav>
    </header>

    <form action="home.html" method="POST" class="inner-form-grid">  <!--changeeeeeeeee-->
        <h1 id="title">Profile:</h1>

        <div id="item1">
            <b><label for="Fullname">Full name:</label></b>
            <br>
            <br>
        </div>

        <div id="item2">
            <b><label for="email">Email:</label></b>
            <br>
            <br>
        </div>


        <div id="item3">
            <b><label for="neighborhood">Neighborhood:</label></b>
            <br>
            <br>
        </div>

        <div id="item4">
            <h2>Rating:</h2>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <br>
        </div>
    </form>

    <footer>
        <a href="https://www.instagram.com/accounts/login/"><img src="../static_p/insta_icon.jpg" alt="insta_icon"
                                                                 class="animation"></a>
        <footer>
</body>

</html>